<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [3]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [4]:
my_string3 = "MetNum"
print(my_string1 + " "+ my_string3)

Welcome to MetNum

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [5]:
int_example = 2022
print(int_example**int_example)
print(type(int_example))

1947546508098798746188435921929702598724777548274213443860973610347832499033215248263332153478360476944706200833684282156600455068153415552285734151560946502947170542669192052504916328604334328778833130709219975349120293993285633999634958490944621500158981012729079269634748261625714855137699450591854289472564069429103159051091427382327826513546124989469465062482253391357061185654930452693076647686621130218903449065049259447453754598441971686914821881843289052016757879782512582708606520210614883317526925097521841052778516000866032128040328614945773975947305271357884836681739197675681079719966439061130676049799640350509989346240936729582344567053517858806511035591957970731172423802607170802835884405813185032359738105690928481264993435664799031060692381266171163612779781385777223133016235363493540391689236109890521845803985950849355521766463696428087584414027972822497132690367928932882808867773655123571521668865717223417005117012324010054955753848383763232590897189673963409275630781490689796183521350904880269852920617848157657696894350991239730309661635821803235795987187333679556612538696994117857237009303256083141704332006165682515777359421523856416050629208728356590304228822769884859351123611053406800656844610479564958695872558256111680821983426632676518986427276300738452943258160362489955605314560826217044308874546055142429864100101026373229422536635745307476767293672570076598084046097614169849507861001965440233723904529859210540596201917278268360299023229457667426190158201900343896201088629092469265892983856357926798392405586243002657041374953302294201008816854521303289198628093212339253152346288836753587059925667810816174526056287020647132726931334196071766480471233558552806909446850206672182816536902962853952375923148557482856574734015616598137166649385716671288494904376373708631773032577909701508616826694868532981317373900326340364276942794977329032601996106004127256847320120075490733335261716835737626475930219368099058231884280959176998005440207012518250467768485568654192981134305433418779296368126617525330180096699845995699174420370387715386103605770605955614943254619836136255428457371493458947667379090766786003026651165310133012721305493660953103419759590023701442705542432439256957136277197950641110744550469654612136641639051435171067754897508827875485576559196527345706512941560121609474264188004152873719238063859191454261389550475285621761770630569033476061207545224338801282514999851271917368386707534825586344943840244588386754338825953529935815971491975752618538067913114949923746966668230713743107888697397112920558991790794621358321359429612790886942148010734853153299120498846415776084642981161497811127211176715569776839369312117257211693715421900028011012237120808493786767204474345626987753957207898501525267104699005084858292805133433617036132300397562940503183962177961969704606982240895416130076263130605164719167798528552330766483200135985483219701666420514546971521801099839052360000619495163450349793941114909602925591939236645657535915399206971039101184501890378557707308824653396878845290094736326178840548144462369679585630028587326763254362085599496904874239278994394091784221019042664411094512159028104041464614199687167492208866907098846962272604475380461124421170554570129420146928143144325234691102402428953456833275677603967103298473704457991626075512934371846004871401286813642762279317853740082837569042197509596269392913051079946069037450310579294897795957074016320013655699931174911514347879765522868962572889999578071924804017842309779595499391891271409606393941204780008928186734590335883681643484134198508767125575269935492071370980078535697476628643798473638617572528462257583991428941623077882382597047602246384257742563178563314100512704350177833628522035523739957912873308905962872377915569406417166909897772126502820414982436152002832022321531632591224873347707701773996589034756617995834485308961187878222778342753996059655302272646230796289489245398894867599309137123339019810140965649856147480302377606051251431388684523848967545782448069678029090266204251688777260003029969948149689488259199218187972392777624926434805135549400550813688268043424147980474400456201758785009184303349347415929128008305450016310535535281994873101015341779327506332059654507023267220750128863390816356550335242558027399618336504512190463580209144634829474398197762142889257423928816441942445787502432679522701933684717879915566967486756406467889322994170147207952984867096161239159117713476893369472001484247266910971339566265072524091119483841563825642630065530105452129406717775623172245494949104607895104805949425411756514357896085835219731713255457525272579895625013641606752139764771298356783177207882550280686908011190801395581939765673976401090309697372256232295875615345312897412904024017719098176049215468392259993388929512464073904169751133735789315113022225348870788677377690812136723866070241065024094244350718839031028389878606319863503057542991264445974669720188363357619428466101250465059820894065390348728849523794009025276446600669168859129315423762556262103515109424762629225305202826645016635280706187763554498868510355624915798430268563479860816441623599722628034489731468354126543079791605294006085833675466845013962366528974566471128714148980420662161358593765593708820838333897438123741780149021926446397767815104693168215924212210278853140672286858732616565333747543482047521197416772090433595907206034560873283040922724616781517514517283905597057891169906123103202948288996570806440790754356658158000724941221819684909953886123246386001223817758269069992629799591199877603947452388779152947992255886477619729274775856225091958837091186840266106022914185067304636335659819307368563719826101172247324087516509237563589154240791433267222463186615448541021095876805156453419801886824917801468134754689652735308150274251472922194891540670385899660956665493240235706298481738138594127073952139544790529369415688577458319093591500888996649190950556947668179287067083644819613644334418685208469883200561918581135590552292971411791515744054746873518234775475533596742078920736675154883436840709401280255366413020638272319466304873204549640202562017899993556573064381500251513551348947563734336998765327184643542241337003689722839990044560117355188543921416888008784500933422007224053770213560668094933795998467110943137324364432123322804873938053793450737482461187796219732751237176733569293663964068999421188373169800899026167477625867982839780387265135496393647362913480051632896004110806328320716069151463861761317390395611077926443649770826310710602411480927022042775784778850497373397616598105139610550579220372576971189936148072764791763047709211277938901049215288399825028158870438563056451584
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [12]:
string_example = "2000"
print(type(string_example))
example_int = int(string_example)
print(type(example_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [14]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [13]:
string_example = "2000.23"
example_float = float(string_example)
print(type(example_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [15]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
bool_example = True
print(bool_example)
print(type(bool_example))

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [17]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [16]:
print("example")
print("Addition ", 3+5)
print("Subtraction ", 7-1)
print("Multiplication ", 8*0)
print("Division ", 123123/354)
print('exponent', 2**22)

example
Addition  8
Subtraction  6
Multiplication  0
Division  347.8050847457627
exponent 4194304

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [18]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [19]:
print(6/7)
print(6/7.0)

0.8571428571428571
0.8571428571428571

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [20]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [22]:
my_list =  ['Met','Num',6,4,20]
print(my_list)

['Met', 'Num', 6, 4, 20]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [24]:
list_ex =  ['Met','Num','ez',6,4,20]
print(len(list_ex))
print(list_ex[2])
print(list_ex[len(list_ex)-2])

6
ez
4

You can also change the elements in the list by accessing an index and assigning a new value.

In [25]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [26]:
list_ex =  ['Met','Num','ez',6,4,20]
list_ex[4] = "sad"
print(list_ex)

['Met', 'Num', 'ez', 6, 'sad', 20]

A list can also be sliced with a colon:

In [27]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [28]:
list_ex =  ['Met','Num','ez',6,4,20]
print(list_ex[2:4])

['ez', 6]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [30]:
print(list_ex[1:])

['Num', 'ez', 6, 4, 20]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [31]:
print(list_ex[:4])

['Met', 'Num', 'ez', 6]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [32]:
list_ex =  ['Met','Num']
list_ex.append("ez")
print(list_ex)

['Met', 'Num', 'ez']

In [33]:
list_ex.remove("Met")
print(list_ex)

['Num', 'ez']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [34]:
tuple_ex = ("Met","Num")

In [35]:
print(tuple_ex[1:])

('Num',)

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

In [36]:
stock_ex = ['AAPL','GUG','SFTK','BNNT']
stock_set = set(stock_ex)
print(stock_set)

{'GUG', 'AAPL', 'BNNT', 'SFTK'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [37]:
dic_ex = {'Tigre':'Falcao','Tx':'Taxista','COL':'Colombia'}
print(dic_ex['Tigre'])

Falcao

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [38]:
dic_ex['Tx'] = 'Texas'
print(dic_ex['Tx'])

Texas

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [40]:
print(dic_ex.keys())

dict_keys(['Tigre', 'Tx', 'COL'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [41]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [42]:
str_ex = 'Welcome to MetNUM'
print(str_ex[7:])

 to MetNUM

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [46]:
print('Counting Ls LLL'.count('L'))
print('The first time h appears'.find('h'))
print('all ls become k'.replace('l','k'))

4
1
akk ks become k

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [47]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [48]:
Time = '2020-12-03 12:00:01'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date,time)
hour = time.split(':')[0]
print(hour)

2020-12-03 12:00:01
12

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [49]:
time_ex = 'Hour: {}, Minute:{}'.format('12','15')
print(time_ex)

Hour: 12, Minute:15

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [51]:
print('the e number is %f'%2.71)
print('%s to %s'%('welcome','MetNum'))

the e number is 2.710000
welcome to MetNum

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [53]:
print(8 == 0)
print( 11 == 11)
print(7 != 7)
print(8 <= 3 )
print(2 <= 2)

False
True
False
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [56]:
print(1 < 1 or 4 < 5)
print(2 > 3 or 2 < 7)
print(23 > 17 and 1 > 2)
print(1 < 2 and 21 > 6)

True
True
False
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [60]:
print(not (1 < 1 and 1 > 3) and (1 == 2 or 1 == 1 ) and (1!=22 and 2==2))

True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [66]:
k = 2
if k % 2 == 0:
  print(k , ' is a even number')

2  is a even number

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [68]:
p = 7 > 2
q = 8 == 8
if p and q:
  print('p and q true')
elif p and not q:
  print('q is false')
elif q and not p:
  print('p is false')
else:
  print('None true')

p and q true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [70]:
k = 1 
while k < 8:
  print(k)
  k+=1

1
2
3
4
5
6
7

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [71]:
for i in [6,7,8,9,9,6,4,4,3,4]:
  print(i)

6
7
8
9
9
6
4
4
3
4

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [72]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [74]:
select_ex = ['IBM','F','V']
list_ex = []
for i in stocks:
  if i not in select_ex:
    list_ex.append(i)
print(list_ex)

['AAPL', 'GOOG', 'FB', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [75]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [77]:
for i in stocks:
  print(i)
  if i == 'F':
    break

AAPL
GOOG
IBM
FB
F

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [79]:
for i in stocks:
  if i == 'V':
    continue
  print(i)

AAPL
GOOG
IBM
FB
F
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [83]:
example = []
for i in [1,2,3,4,5,6]:
  example.append(i**3)
print(example)

[1, 8, 27, 64, 125, 216]

Using list comprehension:

In [104]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [85]:
example = [1,2,3,4,5,6]
ex_cube = [element**3 for element in example]
print(ex_cube)

[1, 8, 27, 64, 125, 216]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [86]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [87]:
selected = ['IBM','F']
example = [element for element in stocks if element in selected]
print(example)

['IBM', 'F']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [88]:
print([(a,b) for a in ['epifausto','taxista','hasta','risa'] for b in['taxista','oasd','nino','ams']])

[('epifausto', 'taxista'), ('epifausto', 'oasd'), ('epifausto', 'nino'), ('epifausto', 'ams'), ('taxista', 'taxista'), ('taxista', 'oasd'), ('taxista', 'nino'), ('taxista', 'ams'), ('hasta', 'taxista'), ('hasta', 'oasd'), ('hasta', 'nino'), ('hasta', 'ams'), ('risa', 'taxista'), ('risa', 'oasd'), ('risa', 'nino'), ('risa', 'ams')]

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [94]:
def div(x,y):
  if (y != 0):
    return x/y
print(div(2,3))

0.6666666666666666

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [96]:
def say_ex():
  print('Welcome to MetNum')
say_ex()

Welcome to MetNum

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [99]:
print(range(1,2,3))
print(range(3,1))

range(1, 2, 3)
range(3, 1)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [102]:
tickers_ex = ['CS','VLVE','UNAL','UN','OEA','NHP','DN','F']
print('the length of the example is'.format(len(tickers_ex)))
for i in range (len(tickers_ex)):
  print(tickers_ex[i])

the length of the example is
CS
VLVE
UNAL
UN
OEA
NHP
DN
F

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [105]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [108]:
tickers_ex = ['CS','VLVE','UNAL','UN','OEA','NHP','DN','F']
list(map(len,tickers_ex))

[2, 4, 4, 2, 3, 3, 2, 1]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [109]:
tickers_ex = ['CS','VLVE','UNAL','UN','OEA','NHP','DN','F']
print(list(map(len,tickers_ex)))

[2, 4, 4, 2, 3, 3, 2, 1]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [110]:
list(map(lambda element : element**3, range(20)))

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [111]:
list(map(lambda a, b : a*b,[2,3,5,7,11,13],[1,2,3,4,5,6]))

[2, 6, 15, 28, 55, 78]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [112]:
sorted([78,2,3,1,567])

[1, 2, 3, 78, 567]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [113]:
price_ex = [('UNAL',0.1),('GRM',1.1230),('ASDL',1268)]
sorted(price_ex, key = lambda x : x[1])

[('UNAL', 0.1), ('GRM', 1.123), ('ASDL', 1268)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [114]:
price_ex = [('UNAL',0.1),('GRM',1.1230),('ASDL',1268)]
sorted(price_ex, key = lambda x : x[1], reverse = True)

[('ASDL', 1268), ('GRM', 1.123), ('UNAL', 0.1)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [115]:
price_ex = [('UNAL',0.1),('GRM',1.1230),('ASDL',1268)]
price_ex.sort(key = lambda x : x[1])
print(price_ex)

[('UNAL', 0.1), ('GRM', 1.123), ('ASDL', 1268)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [128]:
class stonk:
  def __init__(self,fail,epic,placa):
    self.fail = fail
    self.epic = epic
    self.placa = placa
    self.epic_fail = epic + fail

  def getPlaca(self):
    print(self.placa)
    
  def setPlaca(self,placa):
   self.placa = placa

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [132]:
example = stonk('Met','Num',123)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [133]:
example.fail
example.getPlaca()
example.setPlaca(456)
example.getPlaca()

123
456

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [135]:
example.epic = "-----"
example.epic

'-----'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [136]:
dir(example)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'epic',
 'epic_fail',
 'fail',
 'getPlaca',
 'placa',
 'setPlaca']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [138]:
class child_ex(stonk):
  def __init__(self,fail):
    self.fail = fail

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [143]:
ex = child_ex('uwu')
print(ex.fail)
ex.setPlaca(980)
print(ex.placa)

uwu
980

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [144]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [146]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [147]:
price_list_ex = [190.8,189.5,191,191.2]
price_array_ex = np.array(price_list_ex)
print(price_array_ex,type(price_array_ex))

[190.8 189.5 191.  191.2] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [150]:
ar_ex = np.array([[2,67],[9,1],[1,1]])
print(ar_ex,type(ar_ex))

[[ 2 67]
 [ 9  1]
 [ 1  1]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

In [151]:
print(ar_ex.shape)

(3, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [152]:
print(ar_ex[1])
print(ar_ex[2])

[9 1]
[1 1]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [155]:
print('exampleÂ´s second column: ',ar_ex[:,1])

exampleÂ´s second column:  [67  1  1]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [156]:
print(np.log(price_array_ex))

[5.25122576 5.24438902 5.25227343 5.25332   ]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [157]:
print(np.mean(price_array_ex))
print(np.std(price_array_ex))
print(np.sum(price_array_ex))
print(np.max(price_array_ex))

190.625
0.6647367900154149
762.5
191.2

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [160]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [162]:
price_ex = price_list_ex = [190.8,189.5,191,191.2]
s_example = pd.Series(price_ex)
s_example

0    190.8
1    189.5
2    191.0
3    191.2
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [163]:
s_example = pd.Series(price_ex,index = ['w','x','y','z'])
s_example

w    190.8
x    189.5
y    191.0
z    191.2
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [164]:
s_example.index = [4,3,2,1]
s_example

4    190.8
3    189.5
2    191.0
1    191.2
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [165]:
print(s_example[2:])
print(s_example[:-1])

2    191.0
1    191.2
dtype: float64
4    190.8
3    189.5
2    191.0
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [166]:
print(s_example[2])
s_example[1] = 2
print(s_example)

191.0
4    190.8
3    189.5
2    191.0
1      2.0
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [167]:
s_example = pd.Series(price_ex, name = "UN price list")
print(s_example)
print(s_example.name)

0    190.8
1    189.5
2    191.0
3    191.2
Name: UN price list, dtype: float64
UN price list

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [169]:
print(s_example.describe())

count      4.000000
mean     190.625000
std        0.767572
min      189.500000
25%      190.475000
50%      190.900000
75%      191.050000
max      191.200000
Name: UN price list, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [171]:
time_index_ex = pd.date_range('2017-01-01',periods = len(s_example),freq = 'Y')
print(time_index_ex)
s_example.index = time_index_ex
print(s_example)

DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31'], dtype='datetime64[ns]', freq='A-DEC')
2017-12-31    190.8
2018-12-31    189.5
2019-12-31    191.0
2020-12-31    191.2
Freq: A-DEC, Name: UN price list, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [172]:
s_example.index = [4,3,2,1]
print(s_example)
print(s_example[2])

4    190.8
3    189.5
2    191.0
1    191.2
Name: UN price list, dtype: float64
191.0

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

In [173]:
print(s_example[2])

191.0

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [175]:
s_example.index = time_index_ex
print(s_example['2019-12-31'])

191.0

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [176]:
print(s_example['2017-12-31':'2019-12-31'])

2017-12-31    190.8
2018-12-31    189.5
2019-12-31    191.0
Freq: A-DEC, Name: UN price list, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [178]:
print(s_example[s_example < np.mean(s_example)] )
print([(s_example > np.mean(s_example)) & (s_example < np.mean(s_example) + 1.790*np.std(s_example))])

2018-12-31    189.5
Freq: A-DEC, Name: UN price list, dtype: float64
[2017-12-31     True
2018-12-31    False
2019-12-31     True
2020-12-31     True
Freq: A-DEC, Name: UN price list, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [2]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.3 MB 7.7 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=f24b05763042af21111bfb705d1256b0d8c3bb37ef096f1475246ff47af3d4fb
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [3]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.76, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 41, 'targetMeanPrice': 168.23, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.191, 'beta3Year': None, 'enterpriseToEbitda': 22.502, '52WeekChange': 0.24712789, 'morningStarRiskRating': None, 'forwardEps': 5.67, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58672, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.30302167, 'priceToBook': 38.320454, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2496290881536, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.0833845, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 26.23633, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 146.55, 'regularMarketOpen': 147.01, 'twoHundredDayAverage': 138.93898, 'trailingAnnualDividendYield': 0.0056977137, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.17, 'navPrice': None, 'averageDailyVolume10Day': 73272050, 'regularMarketPreviousClose': 146.55, 'fiftyDayAverage': 146.59572, 'trailingAnnualDividendRate': 0.835, 'open': 147.01, 'toCurrency': None, 'averageVolume10days': 73272050, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 146.55, 'currency': 'USD', 'trailingPE': 29.122944, 'regularMarketVolume': 76155573, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2459032354816, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77541023, 'dayLow': 146.55, 'ask': 148.62, 'askSize': 4000, 'volume': 76155573, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.55, 'tradeable': False, 'dividendYield': 0.006, 'bidSize': 1200, 'dayHigh': 149.17, 'regularMarketPrice': 148.76, 'preMarketPrice': 147, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655161  24.291437  23.514534  ...  270597600        0.0             0
2016-01-05  24.379039  24.402092  23.609054  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749162  23.083437  22.230459  ...  324377600        0.0             0
2016-01-08  22.719191  22.848290  22.306534  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827752  42.004949  41.784653  ...   65397600        0.0             0
2017-12-26  40.898686  41.059120  40.630495  ...  132742000        0.0             0
2017-12-27  40.731058  40.893884  40.637671  ...   85992800        0.0             0
2017-12-28  40.946568  41.150105  40.822051  ...   65920800        0.0             0
2017-12-29  40.831621  40.848381  40.520331  ...  103999600        0.0             0

[503 rows x 7 columns]

In [5]:
microsoft = yf.Ticker("MSFT")
#stonks
print(microsoft.info)

microsoft_table = microsoft.history(start="2020-01-01",  end="2020-12-31")
microsoft_table

{'zip': '98052-6399', 'sector': 'Technology', 'fullTimeEmployees': 181000, 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. Its Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. It has collaborations with Dynatrace, Inc., Morgan Stanley, Micro Focus, WPP plc, ACI Worldwide, Inc., and iCIMS, Inc., as well as a strategic relationship with Avaya Holdings Corp. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.', 'city': 'Redmond', 'phone': '425 882 8080', 'state': 'WA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.microsoft.com', 'maxAge': 1, 'address1': 'One Microsoft Way', 'industry': 'Softwareâ€”Infrastructure', 'ebitdaMargins': 0.48080003, 'profitMargins': 0.36451998, 'grossMargins': 0.68926, 'operatingCashflow': 76740001792, 'revenueGrowth': 0.213, 'operatingMargins': 0.41595, 'ebitda': 80815996928, 'targetLowPrice': 280, 'recommendationKey': 'buy', 'grossProfits': 115856000000, 'freeCashflow': 41337249792, 'targetMedianPrice': 338, 'currentPrice': 308.23, 'earningsGrowth': 0.486, 'currentRatio': 2.08, 'returnOnAssets': 0.13761, 'numberOfAnalystOpinions': 37, 'targetMeanPrice': 336.28, 'debtToEquity': 57.947, 'returnOnEquity': 0.47079, 'targetHighPrice': 411, 'totalCash': 130256003072, 'totalDebt': 82277998592, 'totalRevenue': 168087994368, 'totalCashPerShare': 17.333, 'financialCurrency': 'USD', 'revenuePerShare': 22.272, 'quickRatio': 1.898, 'recommendationMean': 1.7, 'exchange': 'NMS', 'shortName': 'Microsoft Corporation', 'longName': 'Microsoft Corporation', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'MSFT', 'messageBoardId': 'finmb_21835', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 13.453, 'beta3Year': None, 'enterpriseToEbitda': 27.981, '52WeekChange': 0.43158627, 'morningStarRiskRating': None, 'forwardEps': 10.11, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 7507899904, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 18.884, 'sharesShort': 47171313, 'sharesPercentSharesOut': 0.0063, 'fundFamily': None, 'lastFiscalYearEnd': 1625011200, 'heldPercentInstitutions': 0.71771, 'netIncomeToCommon': 61270999040, 'trailingEps': 8.05, 'lastDividendValue': 0.56, 'SandP52WeekChange': 0.30302167, 'priceToBook': 16.322283, 'heldPercentInsiders': 0.0008, 'nextFiscalYearEnd': 1688083200, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 1.99, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 7506925463, 'beta': 0.802645, 'enterpriseValue': 2261273018368, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1045526400, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': 1629244800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.469, 'priceToSalesTrailing12Months': 13.767551, 'dateShortInterest': 1632960000, 'pegRatio': 2.21, 'ytdReturn': None, 'forwardPE': 30.487638, 'lastCapGain': None, 'shortPercentOfFloat': 0.0063, 'sharesShortPriorMonth': 45696881, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 307.29, 'regularMarketOpen': 308.348, 'twoHundredDayAverage': 274.8798, 'trailingAnnualDividendYield': 0.0072895307, 'payoutRatio': 0.272, 'volume24Hr': None, 'regularMarketDayHigh': 309.3, 'navPrice': None, 'averageDailyVolume10Day': 22675983, 'regularMarketPreviousClose': 307.29, 'fiftyDayAverage': 296.608, 'trailingAnnualDividendRate': 2.24, 'open': 308.348, 'toCurrency': None, 'averageVolume10days': 22675983, 'expireDate': None, 'algorithm': None, 'dividendRate': 2.48, 'exDividendDate': 1637107200, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 307.22, 'currency': 'USD', 'trailingPE': 38.28944, 'regularMarketVolume': 17555498, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2314160046080, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 22952481, 'dayLow': 307.22, 'ask': 308.65, 'askSize': 1000, 'volume': 17555498, 'fiftyTwoWeekHigh': 309.3, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.48, 'fiftyTwoWeekLow': 199.62, 'bid': 308.4, 'tradeable': False, 'dividendYield': 0.0081, 'bidSize': 800, 'dayHigh': 309.3, 'regularMarketPrice': 308.23, 'preMarketPrice': 308.2, 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-01-02  156.094596  158.011613  ...        0.0             0
2020-01-03  155.642372  157.244794  ...        0.0             0
2020-01-06  154.423345  156.409186  ...        0.0             0
2020-01-07  156.625448  156.969520  ...        0.0             0
2020-01-08  156.242061  158.080445  ...        0.0             0
...                ...         ...  ...        ...           ...
2020-12-23  221.660155  222.107228  ...        0.0             0
2020-12-24  219.981131  222.156902  ...        0.0             0
2020-12-28  222.991443  224.561177  ...        0.0             0
2020-12-29  224.839373  225.703714  ...        0.0             0
2020-12-30  223.766390  224.163800  ...        0.0             0

[252 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [24]:
aapl = aapl_table['Close']['2017']

In [182]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787134
2017-01-09    28.041647
                ...
2017-12-22    41.906769
2017-12-26    40.843609
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522728
Name: Close, Length: 251, dtype: float64

In [6]:
microsoft = microsoft_table['Open']['2020']

In [7]:
print(microsoft)

Date
2020-01-02    156.094596
2020-01-03    155.642372
2020-01-06    154.423345
2020-01-07    156.625448
2020-01-08    156.242061
                 ...
2020-12-23    221.660155
2020-12-24    219.981131
2020-12-28    222.991443
2020-12-29    224.839373
2020-12-30    223.766390
Name: Open, Length: 252, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [25]:
print(aapl['2017-3'])

Date
2017-03-01    33.086281
2017-03-02    32.889832
2017-03-03    33.083916
2017-03-06    32.979778
2017-03-07    33.022388
2017-03-08    32.899311
2017-03-09    32.823563
2017-03-10    32.932438
2017-03-13    32.946636
2017-03-14    32.896938
2017-03-15    33.244862
2017-03-16    33.299301
2017-03-17    33.133621
2017-03-20    33.481556
2017-03-21    33.098125
2017-03-22    33.472084
2017-03-23    33.353745
2017-03-24    33.287468
2017-03-27    33.344280
2017-03-28    34.035393
2017-03-29    34.111134
2017-03-30    34.066162
2017-03-31    34.002270
Name: Close, dtype: float64

In [8]:
print(microsoft['2020-9'])

Date
2020-09-01    223.459530
2020-09-02    225.897169
2020-09-03    227.185351
2020-09-04    213.144188
2020-09-08    204.622387
2020-09-09    205.712385
2020-09-10    211.459625
2020-09-11    205.316010
2020-09-14    202.382922
2020-09-15    206.524910
2020-09-16    208.704908
2020-09-17    198.231037
2020-09-18    200.956023
2020-09-21    195.397019
2020-09-22    203.195485
2020-09-23    206.009644
2020-09-24    198.032841
2020-09-25    201.699210
2020-09-28    208.962554
2020-09-29    207.446497
2020-09-30    205.841176
Name: Open, dtype: float64

In [26]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341728
2017-02-02    30.289881
2017-02-03    30.419493
2017-02-06    30.704647
2017-02-07    30.996872
                ...
2017-04-24    33.997528
2017-04-25    34.208176
2017-04-26    34.006996
2017-04-27    34.033020
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [10]:
microsoft['2020-9':'2020-12']

Date
2020-09-01    223.459530
2020-09-02    225.897169
2020-09-03    227.185351
2020-09-04    213.144188
2020-09-08    204.622387
                 ...
2020-12-23    221.660155
2020-12-24    219.981131
2020-12-28    222.991443
2020-12-29    224.839373
2020-12-30    223.766390
Name: Open, Length: 84, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [185]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787134
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657742
2017-12-18    42.244415
2017-12-19    41.794224
2017-12-20    41.748741
2017-12-21    41.906769
2017-12-22    41.906769
2017-12-26    40.843609
2017-12-27    40.850788
2017-12-28    40.965721
2017-12-29    40.522728
Name: Close, dtype: float64

In [11]:
print(microsoft.head(10))
print(microsoft.tail(20))

Date
2020-01-02    156.094596
2020-01-03    155.642372
2020-01-06    154.423345
2020-01-07    156.625448
2020-01-08    156.242061
2020-01-09    159.102846
2020-01-10    160.066262
2020-01-13    159.024182
2020-01-14    160.626655
2020-01-15    159.869640
Name: Open, dtype: float64
Date
2020-12-02    213.483638
2020-12-03    213.215400
2020-12-04    212.827936
2020-12-07    212.976943
2020-12-08    212.579556
2020-12-09    213.761827
2020-12-10    210.393855
2020-12-11    208.685044
2020-12-14    211.715217
2020-12-15    213.771760
2020-12-16    213.354480
2020-12-17    218.441213
2020-12-18    217.169525
2020-12-21    216.136283
2020-12-22    221.242879
2020-12-23    221.660155
2020-12-24    219.981131
2020-12-28    222.991443
2020-12-29    224.839373
2020-12-30    223.766390
Name: Open, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [27]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606275
2017-03-31    33.282221
2017-04-30    33.819261
2017-05-31    36.125684
2017-06-30    35.133983
2017-07-31    35.245240
2017-08-31    37.897229
2017-09-30    37.604738
2017-10-31    37.654551
2017-11-30    41.233916
2017-12-31    41.160040
Freq: M, Name: Close, dtype: float64

In [13]:
example_month = microsoft.resample('M').mean()
print(example_month)

Date
2020-01-31    161.200090
2020-02-29    175.742083
2020-03-31    149.827550
2020-04-30    166.799261
2020-05-31    179.854395
2020-06-30    189.751844
2020-07-31    204.740474
2020-08-31    211.528459
2020-09-30    207.627661
2020-10-31    211.111475
2020-11-30    212.483025
2020-12-31    216.005242
Freq: M, Name: Open, dtype: float64

We can also aggregate the data by week:

In [28]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097733
2017-01-22    28.266117
2017-01-29    28.553981
2017-02-05    29.662544
Freq: W-SUN, Name: Close, dtype: float64

In [14]:
example_week = microsoft.resample('W').mean()
print(example_week.head())

Date
2020-01-05    155.868484
2020-01-12    157.291993
2020-01-19    161.135860
2020-01-26    164.121486
2020-02-02    164.967941
Freq: W-SUN, Name: Open, dtype: float64

We can also aggregate the data by month with max:

In [29]:
aapl.resample('M').max()

Date
2017-01-31    28.739212
2017-02-28    32.451965
2017-03-31    34.111134
2017-04-30    34.264973
2017-05-31    37.099125
2017-06-30    36.944653
2017-07-31    36.471699
2017-08-31    39.129730
2017-09-30    39.141655
2017-10-31    40.332249
2017-11-30    42.050133
2017-12-31    42.244404
Freq: M, Name: Close, dtype: float64

In [15]:
microsoft.resample("M").max()

Date
2020-01-31    171.106359
2020-02-29    187.425565
2020-03-31    171.327237
2020-04-30    177.439047
2020-05-31    184.200403
2020-06-30    199.769586
2020-07-31    213.846062
2020-08-31    226.105240
2020-09-30    227.185351
2020-10-31    220.972348
2020-11-30    222.399259
2020-12-31    224.839373
Freq: M, Name: Open, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [30]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078172
2017-01-15    28.279667
                ...
2017-12-17    42.019318
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886707
2017-12-29    40.522724
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172570
2017-02-05    29.108262
2017-02-19    31.516816
2017-03-05    32.595555
2017-03-19    33.017884
2017-04-02    33.625222
2017-04-16    33.849727
2017-04-30    33.791842
2017-05-14    35.697631
2017-05-28    36.496181
2017-06-11    36.515005
2017-06-25    34.529045
2017-07-09    34.265135
2017-07-23    35.278870
2017-08-06    36.272778
2017-08-20    37.904119
2017-09-03    38.458791
2017-09-17    38.282711
2017-10-01    36.840870
2017-10-15    37.071596
2017-10-29    37.757320
2017-11-12    41.032237
2017-11-26    41.204379
2017-12-10    40.867067
2017-12-24    41.620868
2018-01-07    40.795712
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056854
2017-07-31    35.186963
2017-09-30    37.761186
2017-11-30    39.402613
2018-01-31    41.160040
Freq: 2M, Name: Close, dtype: float64

In [16]:
five = microsoft.resample('5D').mean()
six_weeks = microsoft.resample('6W').mean()
semester = microsoft.resample('6M').mean()

print(five)
print(six_weeks)
print(semester)

Date
2020-01-02    155.386771
2020-01-07    158.009154
2020-01-12    160.272717
2020-01-17    164.224700
2020-01-22    164.208325
                 ...
2020-12-07    211.679445
2020-12-12    212.947153
2020-12-17    217.249007
2020-12-22    220.961389
2020-12-27    223.865735
Freq: 5D, Name: Open, Length: 73, dtype: float64
Date
2020-01-05    155.868484
2020-02-16    167.731628
2020-03-29    156.453451
2020-05-10    168.170054
2020-06-21    183.799396
2020-08-02    202.723882
2020-09-13    212.375665
2020-10-25    208.553972
2020-12-06    211.500726
2021-01-17    216.674534
Freq: 6W-SUN, Name: Open, dtype: float64
Date
2020-01-31    161.20009
2020-07-31    177.88896
2021-01-31    211.73811
Freq: 6M, Name: Open, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [31]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072532
2017-01-22    0.025554
2017-01-29    0.245284
2017-02-05    0.943258
2017-02-12    0.252003
2017-02-19    0.231390
2017-02-26    0.059345
2017-03-05    0.340089
2017-03-12    0.076287
2017-03-19    0.177834
2017-03-26    0.157263
2017-04-02    0.319805
2017-04-09    0.128685
2017-04-16    0.212476
2017-04-23    0.174671
2017-04-30    0.090025
2017-05-07    0.235639
2017-05-14    0.352977
2017-05-21    0.536091
2017-05-28    0.060389
2017-06-04    0.281228
2017-06-11    0.620036
2017-06-18    0.382567
2017-06-25    0.128894
2017-07-02    0.264108
2017-07-09    0.158887
2017-07-16    0.404280
2017-07-23    0.124987
2017-07-30    0.384443
2017-08-06    0.924392
2017-08-13    0.467465
2017-08-20    0.435249
2017-08-27    0.275763
2017-09-03    0.251729
2017-09-10    0.381639
2017-09-17    0.294141
2017-09-24    0.735190
2017-10-01    0.354841
2017-10-08    0.204855
2017-10-15    0.118733
2017-10-22    0.517002
2017-10-29    0.680459
2017-11-05    0.560683
2017-11-12    0.190968
2017-11-19    0.436202
2017-11-26    0.563046
2017-12-03    0.427445
2017-12-10    0.073128
2017-12-17    0.205268
2017-12-24    0.194123
2017-12-31    0.190398
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220755
2017-01-22    28.279667
2017-01-29    28.739212
2017-02-05    30.419493
2017-02-12    31.341915
2017-02-19    32.122971
2017-02-26    32.451965
2017-03-05    33.086281
2017-03-12    33.022388
2017-03-19    33.299301
2017-03-26    33.481556
2017-04-02    34.111134
2017-04-09    34.264973
2017-04-16    33.886284
2017-04-23    33.713493
2017-04-30    34.208176
2017-05-07    35.256695
2017-05-14    37.099125
2017-05-21    37.004059
2017-05-28    36.597660
2017-06-04    36.944653
2017-06-11    36.925640
2017-06-18    34.838959
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421227
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346302
2017-08-13    38.277931
2017-08-20    38.557095
2017-08-27    38.170563
2017-09-03    39.141655
2017-09-10    38.671631
2017-09-17    38.533241
2017-09-24    37.872314
2017-10-01    36.798630
2017-10-08    37.075413
2017-10-15    37.457172
2017-10-22    38.287483
2017-10-29    38.903065
2017-11-05    41.157787
2017-11-12    42.050133
2017-11-19    41.657749
2017-11-26    41.897194
2017-12-03    41.686478
2017-12-10    40.659218
2017-12-17    41.657749
2017-12-24    42.244404
2017-12-31    40.965725
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341726
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597818
2017-02-12    30.704647
2017-02-19    31.547831
2017-02-26    32.314686
2017-03-05    32.409363
2017-03-12    32.823563
2017-03-19    32.896938
2017-03-26    33.098125
2017-04-02    33.344280
2017-04-09    33.926517
2017-04-16    33.384514
2017-04-23    33.296932
2017-04-30    33.997528
2017-05-07    34.681553
2017-05-14    36.215267
2017-05-21    35.708801
2017-05-28    36.443188
2017-06-04    36.305328
2017-06-11    35.406967
2017-06-18    33.812252
2017-06-25    34.463451
2017-07-02    34.147362
2017-07-09    33.921581
2017-07-16    34.475334
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347553
2017-08-13    37.058716
2017-08-20    37.578854
2017-08-27    37.509663
2017-09-03    38.526070
2017-09-10    37.848469
2017-09-17    37.764954
2017-09-24    36.240330
2017-10-01    35.920612
2017-10-08    36.619694
2017-10-15    37.182785
2017-10-22    37.216179
2017-10-29    37.261513
2017-11-05    39.778706
2017-11-12    41.575333
2017-11-19    40.486813
2017-11-26    40.702320
2017-12-03    40.582592
2017-12-10    40.470055
2017-12-17    41.114182
2017-12-24    41.748741
2017-12-31    40.522724
Freq: W-SUN, Name: Close, dtype: float64

In [17]:
std = microsoft.resample('W').std()
max = microsoft.resample('W').max()
min = microsoft.resample('W').min()


print(std)
print(max)
print(min)

Date
2020-01-05    0.319770
2020-01-12    2.277693
2020-01-19    2.146558
2020-01-26    0.613012
2020-02-02    5.359749
2020-02-09    5.404158
2020-02-16    3.138350
2020-02-23    2.116477
2020-03-01    8.168618
2020-03-08    4.158193
2020-03-15    5.624882
2020-03-22    3.058537
2020-03-29    5.687795
2020-04-05    3.027748
2020-04-12    3.789262
2020-04-19    5.601536
2020-04-26    2.013464
2020-05-03    2.414473
2020-05-10    4.100769
2020-05-17    3.589577
2020-05-24    0.866969
2020-05-31    2.748120
2020-06-07    1.040151
2020-06-14    2.775416
2020-06-21    5.119235
2020-06-28    2.604943
2020-07-05    4.525898
2020-07-12    3.024746
2020-07-19    4.049949
2020-07-26    4.854914
2020-08-02    1.407278
2020-08-09    1.521940
2020-08-16    2.375195
2020-08-23    1.915077
2020-08-30    6.118713
2020-09-06    5.634235
2020-09-13    3.153687
2020-09-20    4.231570
2020-09-27    4.198641
2020-10-04    2.348557
2020-10-11    1.867816
2020-10-18    2.510504
2020-10-25    2.825331
2020-11-01    4.508955
2020-11-08    8.958212
2020-11-15    4.522151
2020-11-22    1.645232
2020-11-29    2.759399
2020-12-06    0.309629
2020-12-13    2.088612
2020-12-20    2.806015
2020-12-27    2.515926
2021-01-03    0.927962
Freq: W-SUN, Name: Open, dtype: float64
Date
2020-01-05    156.094596
2020-01-12    160.066262
2020-01-19    164.588430
2020-01-26    164.676914
2020-02-02    171.106359
2020-02-09    180.917547
2020-02-16    187.425565
2020-02-23    185.384365
2020-03-01    171.721546
2020-03-08    171.327237
2020-03-15    155.909767
2020-03-22    143.922785
2020-03-29    149.590966
2020-04-05    157.132114
2020-04-12    167.177127
2020-04-19    176.946149
2020-04-26    174.116975
2020-05-03    177.439047
2020-05-10    182.348179
2020-05-17    184.142318
2020-05-24    183.271203
2020-05-31    184.200403
2020-06-07    182.697881
2020-06-14    190.912459
2020-06-21    196.309744
2020-06-28    199.769586
2020-07-05    203.318336
2020-07-12    213.846062
2020-07-19    212.017304
2020-07-26    211.206730
2020-08-02    202.053040
2020-08-09    212.432482
2020-08-16    209.239586
2020-08-23    211.915458
2020-08-30    226.105240
2020-09-06    227.185351
2020-09-13    211.459625
2020-09-20    208.704908
2020-09-27    206.009644
2020-10-04    211.548847
2020-10-11    209.309375
2020-10-18    220.972348
2020-10-25    218.415809
2020-11-01    211.905555
2020-11-08    220.239090
2020-11-15    222.399259
2020-11-22    214.135113
2020-11-29    213.712142
2020-12-06    213.483638
2020-12-13    213.761827
2020-12-20    218.441213
2020-12-27    221.660155
2021-01-03    224.839373
Freq: W-SUN, Name: Open, dtype: float64
Date
2020-01-05    155.642372
2020-01-12    154.423345
2020-01-19    159.024182
2020-01-26    163.379264
2020-02-02    158.424507
2020-02-09    167.547549
2020-02-16    179.983601
2020-02-23    180.563927
2020-03-01    150.241595
2020-03-08    160.296452
2020-03-15    143.232754
2020-03-22    136.036588
2020-03-29    135.060694
2020-04-05    149.699390
2020-04-12    158.039039
2020-04-19    162.011697
2020-04-26    168.951509
2020-05-03    170.755500
2020-05-10    172.007446
2020-05-17    175.014007
2020-05-24    181.086590
2020-05-31    178.130928
2020-06-07    180.444050
2020-06-14    183.804993
2020-06-21    182.460630
2020-06-28    193.541915
2020-07-05    193.532008
2020-07-12    206.432177
2020-07-19    202.122246
2020-07-26    198.118762
2020-08-02    198.692096
2020-08-09    209.091301
2020-08-16    202.932812
2020-08-23    207.193370
2020-08-30    211.162371
2020-09-06    213.144188
2020-09-13    204.622387
2020-09-20    198.231037
2020-09-27    195.397019
2020-10-04    205.841176
2020-10-11    205.177301
2020-10-18    215.126014
2020-10-25    211.182176
2020-11-01    201.649662
2020-11-08    202.036111
2020-11-15    210.458815
2020-11-22    210.006392
2020-11-29    208.228019
2020-12-06    212.708713
2020-12-13    208.685044
2020-12-20    211.715217
2020-12-27    216.136283
2021-01-03    222.991443
Freq: W-SUN, Name: Open, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [32]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597818
2017-02-28    32.423569
2017-03-31    34.002270
2017-04-30    33.999889
2017-05-31    36.305328
2017-06-30    34.228168
2017-07-31    35.347553
2017-08-31    39.129730
2017-09-30    36.772396
2017-10-31    40.332249
2017-11-30    41.150105
2017-12-31    40.522724
Freq: M, Name: Close, dtype: float64

In [34]:
last_day = microsoft.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2020-01-31    169.297460
2020-02-29    150.241595
2020-03-31    157.132114
2020-04-30    177.439047
2020-05-31    180.631886
2020-06-30    195.607918
2020-07-31    202.053040
2020-08-31    224.935975
2020-09-30    205.841176
2020-10-31    201.649662
2020-11-30    212.708713
2020-12-31    223.766390
Freq: M, Name: Open, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [33]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [19]:
monthly_return = microsoft.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2020-01-31    0.084582
2020-02-29   -0.103290
2020-03-31   -0.035751
2020-04-30    0.176471
2020-05-31    0.042315
2020-06-30    0.084036
2020-07-31    0.006203
2020-08-31    0.075779
2020-09-30   -0.078844
2020-10-31   -0.046794
2020-11-30    0.050764
2020-12-31    0.049974
Freq: M, Name: Open, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [35]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686336550530191
0.05225852886865496
0.09901839583970218

In [21]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.025453793921095712
0.08010347030657144
0.17647076031000353

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [194]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825754
2017-03-31    1.578693
2017-04-30   -0.002377
2017-05-31    2.305450
2017-06-30   -2.077175
2017-07-31    1.119392
2017-08-31    3.782169
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627373
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [36]:
print(last_day.diff())
print(last_day.pct_change())

Date
2020-01-31          NaN
2020-02-29   -19.055866
2020-03-31     6.890519
2020-04-30    20.306933
2020-05-31     3.192839
2020-06-30    14.976032
2020-07-31     6.445122
2020-08-31    22.882935
2020-09-30   -19.094798
2020-10-31    -4.191515
2020-11-30    11.059051
2020-12-31    11.057677
Freq: M, Name: Open, dtype: float64
Date
2020-01-31         NaN
2020-02-29   -0.112558
2020-03-31    0.045863
2020-04-30    0.129235
2020-05-31    0.017994
2020-06-30    0.082909
2020-07-31    0.032949
2020-08-31    0.113252
2020-09-30   -0.084890
2020-10-31   -0.020363
2020-11-30    0.054843
2020-12-31    0.051985
Freq: M, Name: Open, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [195]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [37]:
daily_return = last_day.pct_change()
print(daily_return.fillna(-1))

Date
2020-01-31   -1.000000
2020-02-29   -0.112558
2020-03-31    0.045863
2020-04-30    0.129235
2020-05-31    0.017994
2020-06-30    0.082909
2020-07-31    0.032949
2020-08-31    0.113252
2020-09-30   -0.084890
2020-10-31   -0.020363
2020-11-30    0.054843
2020-12-31    0.051985
Freq: M, Name: Open, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [196]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [38]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2020-01-31   -0.112558
2020-02-29   -0.112558
2020-03-31    0.045863
2020-04-30    0.129235
2020-05-31    0.017994
2020-06-30    0.082909
2020-07-31    0.032949
2020-08-31    0.113252
2020-09-30   -0.084890
2020-10-31   -0.020363
2020-11-30    0.054843
2020-12-31    0.051985
Freq: M, Name: Open, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [197]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [39]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2020-02-29   -0.112558
2020-03-31    0.045863
2020-04-30    0.129235
2020-05-31    0.017994
2020-06-30    0.082909
2020-07-31    0.032949
2020-08-31    0.113252
2020-09-30   -0.084890
2020-10-31   -0.020363
2020-11-30    0.054843
2020-12-31    0.051985
Freq: M, Name: Open, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [40]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [42]:
dict_example = {'MSFT':[560.20,456,570.5,590.60], 'UN':[100,96.7,101.16,90.2],'TAXI':[150,200,300.13,90.09]}
index_example = pd.date_range('2021-10-10',periods = 4, freq = 'W')
df = pd.DataFrame(dict_example,index = index_example)
print(df)

             MSFT      UN    TAXI
2021-10-10  560.2  100.00  150.00
2021-10-17  456.0   96.70  200.00
2021-10-24  570.5  101.16  300.13
2021-10-31  590.6   90.20   90.09

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [51]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906773
2017-12-26    40.843613
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522724
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [56]:
df = microsoft_table
print(df.Close.tail(4))
print(df['Volume'].tail(4))

Date
2020-12-24    221.302490
2020-12-28    223.498138
2020-12-29    222.693405
2020-12-30    220.239456
Name: Close, dtype: float64
Date
2020-12-24    10550600
2020-12-28    17933500
2020-12-29    17403200
2020-12-30    20272300
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [52]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852382  22.440245  21.750946  ...  257666000        0.0             0
2016-02-29  22.450755  22.768302  22.402081  ...  140865200        0.0             0
2016-03-31  25.431522  25.473243  25.236821  ...  103553600        0.0             0
2016-04-30  21.785524  21.954728  21.442482  ...  274126000        0.0             0
2016-05-31  23.226405  23.412963  23.044512  ...  169228800        0.0             0
2016-06-30  22.023108  22.333258  21.990461  ...  143345600        0.0             0
2016-07-31  24.296782  24.380733  24.177851  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367390  26.580749  26.212647  ...  145516400        0.0             0
2016-10-31  26.646392  26.782380  26.540884  ...  105677600        0.0             0
2016-11-30  26.300092  26.441490  25.986658  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [47]:
msft_2020 = df['2020']
msft_month = msft_2020.resample('M').agg(lambda x: x[-1])
print(msft_month)

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
2020-01-31  169.297460  169.484234  ...        0.0             0
2020-02-29  150.241595  161.380827  ...        0.0             0
2020-03-31  157.132114  162.435574  ...        0.0             0
2020-04-30  177.439047  177.833350  ...        0.0             0
2020-05-31  180.631886  182.154212  ...        0.0             0
2020-06-30  195.607918  202.053044  ...        0.0             0
2020-07-31  202.053040  202.745014  ...        0.0             0
2020-08-31  224.935975  226.620514  ...        0.0             0
2020-09-30  205.841176  210.052533  ...        0.0             0
2020-10-31  201.649662  202.432472  ...        0.0             0
2020-11-30  212.708713  213.364413  ...        0.0             0
2020-12-31  223.766390  224.163800  ...        0.0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [53]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245
2016-02-29  22.450755  22.768302  22.402081  22.411352
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785524  21.954728  21.442482  21.727577
2016-05-31  23.226405  23.412963  23.044512  23.287037
2016-06-30  22.023108  22.333258  21.990461  22.293615
2016-07-31  24.296782  24.380733  24.177851  24.301445
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367390  26.580749  26.212647  26.505722
2016-10-31  26.646392  26.782380  26.540884  26.620602
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [48]:
msft_bar = msft_month[['Open', 'High', 'Low', 'Close']]
print(msft_bar)

                  Open        High         Low       Close
Date
2020-01-31  169.297460  169.484234  166.711936  167.350937
2020-02-29  150.241595  161.380827  149.837424  159.705002
2020-03-31  157.132114  162.435574  154.332524  155.466171
2020-04-30  177.439047  177.833350  173.722681  176.660294
2020-05-31  180.631886  182.154212  178.338532  181.145920
2020-06-30  195.607918  202.053044  195.469526  201.173264
2020-07-31  202.053040  202.745014  196.724929  202.656036
2020-08-31  224.935975  226.620514  222.270431  223.479340
2020-09-30  205.841176  210.052533  204.661994  208.417542
2020-10-31  201.649662  202.432472  197.804936  200.629028
2020-11-30  212.708713  213.364413  209.469888  212.678909
2020-12-31  223.766390  224.163800  220.030829  220.239456

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [54]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-04-30  21.785524  21.954728  21.442482  21.727577
2016-05-31  23.226405  23.412963  23.044512  23.287037
2016-06-30  22.023108  22.333258  21.990461  22.293615

In [49]:
print(msft_month.loc['2020-09':'2020-12',['Open', 'High', 'Low', 'Close']])

                  Open        High         Low       Close
Date
2020-09-30  205.841176  210.052533  204.661994  208.417542
2020-10-31  201.649662  202.432472  197.804936  200.629028
2020-11-30  212.708713  213.364413  209.469888  212.678909
2020-12-31  223.766390  224.163800  220.030829  220.239456

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [55]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431522  25.473243  25.236821  25.262318
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367390  26.580749  26.212647  26.505722
2016-10-31  26.646392  26.782380  26.540884  26.620602
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [58]:
ab_ex = msft_bar[msft_bar.Close > np.mean(msft_bar.Close)]
print(ab_ex)

                  Open        High         Low       Close
Date
2020-06-30  195.607918  202.053044  195.469526  201.173264
2020-07-31  202.053040  202.745014  196.724929  202.656036
2020-08-31  224.935975  226.620514  222.270431  223.479340
2020-09-30  205.841176  210.052533  204.661994  208.417542
2020-10-31  201.649662  202.432472  197.804936  200.629028
2020-11-30  212.708713  213.364413  209.469888  212.678909
2020-12-31  223.766390  224.163800  220.030829  220.239456

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [204]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001287
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127210
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042659
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [59]:
msft_bar['OPEN_RETURN'] = msft_bar.Close.pct_change()
print(msft_bar)

                  Open        High         Low       Close  OPEN_RETURN
Date
2020-01-31  169.297460  169.484234  166.711936  167.350937          NaN
2020-02-29  150.241595  161.380827  149.837424  159.705002    -0.045688
2020-03-31  157.132114  162.435574  154.332524  155.466171    -0.026542
2020-04-30  177.439047  177.833350  173.722681  176.660294     0.136326
2020-05-31  180.631886  182.154212  178.338532  181.145920     0.025391
2020-06-30  195.607918  202.053044  195.469526  201.173264     0.110559
2020-07-31  202.053040  202.745014  196.724929  202.656036     0.007371
2020-08-31  224.935975  226.620514  222.270431  223.479340     0.102752
2020-09-30  205.841176  210.052533  204.661994  208.417542    -0.067397
2020-10-31  201.649662  202.432472  197.804936  200.629028    -0.037370
2020-11-30  212.708713  213.364413  209.469888  212.678909     0.060061
2020-12-31  223.766390  224.163800  220.030829  220.239456     0.035549

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [205]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [60]:
missing_ex = msft_bar.isnull()
print(missing_ex)
print('---------------------------------------------')
print(missing_ex.describe())

             Open   High    Low  Close  OPEN_RETURN
Date
2020-01-31  False  False  False  False         True
2020-02-29  False  False  False  False        False
2020-03-31  False  False  False  False        False
2020-04-30  False  False  False  False        False
2020-05-31  False  False  False  False        False
2020-06-30  False  False  False  False        False
2020-07-31  False  False  False  False        False
2020-08-31  False  False  False  False        False
2020-09-30  False  False  False  False        False
2020-10-31  False  False  False  False        False
2020-11-30  False  False  False  False        False
2020-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close OPEN_RETURN
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [206]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [63]:
print(missing_ex[missing_ex.OPEN_RETURN == True])

             Open   High    Low  Close  OPEN_RETURN
Date
2020-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [207]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001287
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127210
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042659
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001287
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127210
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042659
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [65]:
drop_ex = msft_bar.dropna()
print(drop_ex)
print('\n--------------------------------------------------\n')
fill_ex = msft_bar.fillna(-1)
print(fill_ex)

                  Open        High         Low       Close  OPEN_RETURN
Date
2020-02-29  150.241595  161.380827  149.837424  159.705002    -0.045688
2020-03-31  157.132114  162.435574  154.332524  155.466171    -0.026542
2020-04-30  177.439047  177.833350  173.722681  176.660294     0.136326
2020-05-31  180.631886  182.154212  178.338532  181.145920     0.025391
2020-06-30  195.607918  202.053044  195.469526  201.173264     0.110559
2020-07-31  202.053040  202.745014  196.724929  202.656036     0.007371
2020-08-31  224.935975  226.620514  222.270431  223.479340     0.102752
2020-09-30  205.841176  210.052533  204.661994  208.417542    -0.067397
2020-10-31  201.649662  202.432472  197.804936  200.629028    -0.037370
2020-11-30  212.708713  213.364413  209.469888  212.678909     0.060061
2020-12-31  223.766390  224.163800  220.030829  220.239456     0.035549

--------------------------------------------------

                  Open        High         Low       Close  OPEN_RETURN
Date
2020-01-31  169.297460  169.484234  166.711936  167.350937    -1.000000
2020-02-29  150.241595  161.380827  149.837424  159.705002    -0.045688
2020-03-31  157.132114  162.435574  154.332524  155.466171    -0.026542
2020-04-30  177.439047  177.833350  173.722681  176.660294     0.136326
2020-05-31  180.631886  182.154212  178.338532  181.145920     0.025391
2020-06-30  195.607918  202.053044  195.469526  201.173264     0.110559
2020-07-31  202.053040  202.745014  196.724929  202.656036     0.007371
2020-08-31  224.935975  226.620514  222.270431  223.479340     0.102752
2020-09-30  205.841176  210.052533  204.661994  208.417542    -0.067397
2020-10-31  201.649662  202.432472  197.804936  200.629028    -0.037370
2020-11-30  212.708713  213.364413  209.469888  212.678909     0.060061
2020-12-31  223.766390  224.163800  220.030829  220.239456     0.035549

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [208]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [66]:
s1 = pd.Series([243.5, 224.09, 259.73, 200.18], name = 'UN')
s2 = pd.Series([750.23, 761.08, 800.01, 758.03], name = 'MSFT')
data_frame_ex = pd.concat([s1,s2], axis = 1)
print(data_frame_ex)

       UN    MSFT
0  243.50  750.23
1  224.09  761.08
2  259.73  800.01
3  200.18  758.03

The "axis = 1" parameter will join two DataFrames by columns:

In [209]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001287   3.109568
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127210   3.229314
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921   3.078583
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773   3.147897
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042659   3.104301
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [68]:
log_price_ex = np.log(msft_bar.Close)
log_price_ex.name = 'log_price'
print(log_price_ex)
print('\n---------------------- separate line--------------------\n')
concat_ex = pd.concat([msft_bar, log_price_ex], axis = 1)
print(concat_ex)

Date
2020-01-31    5.120093
2020-02-29    5.073328
2020-03-31    5.046428
2020-04-30    5.174229
2020-05-31    5.199303
2020-06-30    5.304167
2020-07-31    5.311510
2020-08-31    5.409319
2020-09-30    5.339543
2020-10-31    5.301458
2020-11-30    5.359784
2020-12-31    5.394715
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                  Open        High  ...  OPEN_RETURN  log_price
Date                                ...
2020-01-31  169.297460  169.484234  ...          NaN   5.120093
2020-02-29  150.241595  161.380827  ...    -0.045688   5.073328
2020-03-31  157.132114  162.435574  ...    -0.026542   5.046428
2020-04-30  177.439047  177.833350  ...     0.136326   5.174229
2020-05-31  180.631886  182.154212  ...     0.025391   5.199303
2020-06-30  195.607918  202.053044  ...     0.110559   5.304167
2020-07-31  202.053040  202.745014  ...     0.007371   5.311510
2020-08-31  224.935975  226.620514  ...     0.102752   5.409319
2020-09-30  205.841176  210.052533  ...    -0.067397   5.339543
2020-10-31  201.649662  202.432472  ...    -0.037370   5.301458
2020-11-30  212.708713  213.364413  ...     0.060061   5.359784
2020-12-31  223.766390  224.163800  ...     0.035549   5.394715

[12 rows x 6 columns]

We can also join two DataFrames by rows. Consider these two DataFrames:

In [210]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550682  28.607241  28.425781  28.597815
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-03-31  34.016463  34.146641  33.848414  34.002262
2017-04-30  34.104028  34.153733  33.909947  33.999886

In [74]:
df_volume = microsoft_table.loc['2020-10':'2020-12',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2021 = aapl_table.loc['2020-10':'2021-12',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2021)

              Volume  Stock Splits
Date
2020-10-31  36953700             0
2020-11-30  33064800             0
2020-12-31  20272300             0

---------------------- separate line--------------------

Empty DataFrame
Columns: [Open, High, Low, Close]
Index: []

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [211]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852380  22.440243  ...          NaN           NaN
2016-02-29  22.450761  22.768308  ...          NaN           NaN
2016-03-31  25.431522  25.473243  ...          NaN           NaN
2016-04-30  21.785531  21.954736  ...          NaN           NaN
2016-05-31  23.226403  23.412961  ...          NaN           NaN
2016-06-30  22.023115  22.333266  ...          NaN           NaN
2016-07-31  24.296784  24.380735  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300088  26.441486  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [75]:
concat_ex = pd.concat([msft_bar, df_volume], axis = 1)
print(concat_ex)

                  Open        High  ...      Volume  Stock Splits
Date                                ...
2020-01-31  169.297460  169.484234  ...         NaN           NaN
2020-02-29  150.241595  161.380827  ...         NaN           NaN
2020-03-31  157.132114  162.435574  ...         NaN           NaN
2020-04-30  177.439047  177.833350  ...         NaN           NaN
2020-05-31  180.631886  182.154212  ...         NaN           NaN
2020-06-30  195.607918  202.053044  ...         NaN           NaN
2020-07-31  202.053040  202.745014  ...         NaN           NaN
2020-08-31  224.935975  226.620514  ...         NaN           NaN
2020-09-30  205.841176  210.052533  ...         NaN           NaN
2020-10-31  201.649662  202.432472  ...  36953700.0           0.0
2020-11-30  212.708713  213.364413  ...  33064800.0           0.0
2020-12-31  223.766390  224.163800  ...  20272300.0           0.0

[12 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [212]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300088  26.441486  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [76]:
concat_ex = pd.concat([msft_bar,df_volume],axis = 1, join = 'inner')
print(concat_ex)

                  Open        High  ...    Volume  Stock Splits
Date                                ...
2020-10-31  201.649662  202.432472  ...  36953700             0
2020-11-30  212.708713  213.364413  ...  33064800             0
2020-12-31  223.766390  224.163800  ...  20272300             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [213]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001287
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127210
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042659
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550682  28.607241  28.425781  28.597815          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

In [77]:
append_ex = msft_bar.append(df_2021)
print(append_ex)

                  Open        High         Low       Close  OPEN_RETURN
Date
2020-01-31  169.297460  169.484234  166.711936  167.350937          NaN
2020-02-29  150.241595  161.380827  149.837424  159.705002    -0.045688
2020-03-31  157.132114  162.435574  154.332524  155.466171    -0.026542
2020-04-30  177.439047  177.833350  173.722681  176.660294     0.136326
2020-05-31  180.631886  182.154212  178.338532  181.145920     0.025391
2020-06-30  195.607918  202.053044  195.469526  201.173264     0.110559
2020-07-31  202.053040  202.745014  196.724929  202.656036     0.007371
2020-08-31  224.935975  226.620514  222.270431  223.479340     0.102752
2020-09-30  205.841176  210.052533  204.661994  208.417542    -0.067397
2020-10-31  201.649662  202.432472  197.804936  200.629028    -0.037370
2020-11-30  212.708713  213.364413  209.469888  212.678909     0.060061
2020-12-31  223.766390  224.163800  220.030829  220.239456     0.035549

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [214]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001287
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127210
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042659
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550682  28.607241  28.425781  28.597815          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

In [79]:
concat_ex = pd.concat([msft_bar, df_2021], axis = 0)
print(concat_ex)

                  Open        High         Low       Close  OPEN_RETURN
Date
2020-01-31  169.297460  169.484234  166.711936  167.350937          NaN
2020-02-29  150.241595  161.380827  149.837424  159.705002    -0.045688
2020-03-31  157.132114  162.435574  154.332524  155.466171    -0.026542
2020-04-30  177.439047  177.833350  173.722681  176.660294     0.136326
2020-05-31  180.631886  182.154212  178.338532  181.145920     0.025391
2020-06-30  195.607918  202.053044  195.469526  201.173264     0.110559
2020-07-31  202.053040  202.745014  196.724929  202.656036     0.007371
2020-08-31  224.935975  226.620514  222.270431  223.479340     0.102752
2020-09-30  205.841176  210.052533  204.661994  208.417542    -0.067397
2020-10-31  201.649662  202.432472  197.804936  200.629028    -0.037370
2020-11-30  212.708713  213.364413  209.469888  212.678909     0.060061
2020-12-31  223.766390  224.163800  220.030829  220.239456     0.035549

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [215]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852380  22.440243  21.750945  22.440243          NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001287        NaN
2016-03-31  25.431522  25.473243  25.236821  25.262318     0.127210        NaN
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921        NaN
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773        NaN
2016-06-30  22.023115  22.333266  21.990468  22.293623    -0.042659        NaN
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063        NaN
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441486  25.986654  26.045570          NaN  26.300088
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607241  28.425781  28.597815          NaN  28.550682
2017-02-28        NaN  32.530077  32.354928  32.423569          NaN  32.444870
2017-03-31        NaN  34.146641  33.848414  34.002262          NaN  34.016463
2017-04-30        NaN  34.153733  33.909947  33.999886          NaN  34.104028

In [81]:
df_2021.columns = ['Change', 'High','Low','Close']
concat_ex = pd.concat([msft_bar, df_2021], axis = 0)
print(concat_ex)

                  Open        High         Low       Close  OPEN_RETURN  Change
Date
2020-01-31  169.297460  169.484234  166.711936  167.350937          NaN     NaN
2020-02-29  150.241595  161.380827  149.837424  159.705002    -0.045688     NaN
2020-03-31  157.132114  162.435574  154.332524  155.466171    -0.026542     NaN
2020-04-30  177.439047  177.833350  173.722681  176.660294     0.136326     NaN
2020-05-31  180.631886  182.154212  178.338532  181.145920     0.025391     NaN
2020-06-30  195.607918  202.053044  195.469526  201.173264     0.110559     NaN
2020-07-31  202.053040  202.745014  196.724929  202.656036     0.007371     NaN
2020-08-31  224.935975  226.620514  222.270431  223.479340     0.102752     NaN
2020-09-30  205.841176  210.052533  204.661994  208.417542    -0.067397     NaN
2020-10-31  201.649662  202.432472  197.804936  200.629028    -0.037370     NaN
2020-11-30  212.708713  213.364413  209.469888  212.678909     0.060061     NaN
2020-12-31  223.766390  224.163800  220.030829  220.239456     0.035549     NaN

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.